In [63]:
import pandas as pd
import numpy as np

filename = 'routes.csv'
data = pd.DataFrame.from_csv(filename,header=0,sep=',',index_col=None)
data.drop(['#','ID','Created At', 'Tx History','Booking History'], axis=1, inplace=True)
print(data.shape)
# Drop Dupicates
data.drop_duplicates(keep=False,inplace=True)
data.reset_index(drop=True,inplace=True)
print(data.shape)
print (data.columns)
data.head()

(822, 7)
(386, 7)
Index(['Commuter ID', 'From', 'To', 'Start Time Hour', 'Start Time Minutes',
       'End Time Hour', 'End Time Minutes'],
      dtype='object')

,Commuter ID,From,To,Start Time Hour,Start Time Minutes,End Time Hour,End Time Minutes
0,Yanamandra Siddharth - 961 yanamandra.siddhart...,"Malkajgiri, Secunderabad, Telangana, India","Nizampet X Road, Nizampet Road, Kukatpally, Hy...",7,30,17,30
1,Pavan Kumar - 44900 pavankumar627@gmail.com 80...,Malkajgiri,Q city,7,30,5,30
2,Vijay - 1959 a.vijaykumar@live.com 9000538077,"Malkajgiri, Goutham Nagar, Secunderabad, Telan...","Ramky Towers Commercial Block, Gachibowli, Hyd...",12,45,12,32
3,lakshmi sneha - 2635 lakshmi.sneha91@gmail.com...,malkajgiri,wipro,11,30,11,30
4,Savan kumar - 2304 vanaparthi.savan@gmail.com ...,"Malkajgiri Road, Lalaguda North, Hyderabad, Te...","Wipro Circle, ISB Road, Financial District, Hy...",15,30,2,30

In [64]:
# Get commuter ID, email and phone numbers from the Commuter ID column
commuterID = data.loc[0,'Commuter ID']
print(commuterID)

def getCommuterInfo(commuter_id):
    name = commuterID.split('-')[0].strip()
    rest = commuterID.split('-')[1].strip()
    iD = rest.split(' ')[0]
    emailID = rest.split(' ')[1]
    ph = rest.split(' ')[2]
    return name,iD,emailID,ph

Yanamandra Siddharth - 961 yanamandra.siddharth@gmail.com 8125610787

In [65]:
num = data.shape[0]

data["Commuter_name"] = ""
data["Commuter_id"] = ""
data["Commuter_email"] = ""
data["Commuter_phone"] = ""

for i in range(num):
    commuterID = data.loc[i,'Commuter ID']
    name,iD,emailID,ph = getCommuterInfo(commuterID)
    data.loc[i,"Commuter_name"] = name
    data.loc[i,"Commuter_id"] = iD
    data.loc[i,"Commuter_email"] = emailID
    data.loc[i,"Commuter_phone"] = ph
    
    if i+1%500 == 0:
        print("{} number of records have been processed".format(i))

In [66]:
data.tail(2)

,Commuter ID,From,To,Start Time Hour,Start Time Minutes,End Time Hour,End Time Minutes,Commuter_name,Commuter_id,Commuter_email,Commuter_phone
384,Sriharsha - 46982 janaki.sriharsha@gmail.com 9...,"Krupa Complex Bus Stop, Old Neredmet - Malkajg...","Laxmi Cyber City, Hyderabad, Telangana, India",10,30,6,30,Sriharsha,46982,janaki.sriharsha@gmail.com,9989491328
385,M V R P Raja Rao - 32520 venkatm1968@gmail.com...,ccpl Malkajgiri,karvy selinium tower,8,0,7,0,M V R P Raja Rao,32520,venkatm1968@gmail.com,9030038840

In [67]:
from datetime import datetime
def gettime(hrs,mins):
    """
        This function takes time information in hours
        and minutes and convert it into time object 
    """
    if hrs > 12:
        hrs = hrs - 12
        timeString = '{} {} PM'.format(hrs,mins)
    elif hrs == 0:
        hrs = 12
        timeString = '{} {} AM'.format(hrs,mins)
    else:
        timeString = '{} {} AM'.format(hrs,mins)
        
    datetime_object = datetime.strptime(timeString, '%I %M %p')
    return datetime_object.time()

In [68]:
data['start_time'] = ""
data["end_time"] = ""
num = data.shape[0]

for i in range(num):
    start_time_hrs = data.loc[i,'Start Time Hour']
    start_time_mins = data.loc[i,'Start Time Minutes']
    data.loc[i,'start_time'] = gettime(start_time_hrs,start_time_mins)
    
    end_time_hrs = data.loc[i,'End Time Hour']
    if end_time_hrs < 12:
        end_time_hrs += 12
    end_time_mins = data.loc[i,'End Time Minutes']
    data.loc[i,'end_time'] = gettime(end_time_hrs,end_time_mins)
    
    
    if i+1%500 == 0:
        print("{} number of records have been processed".format(i))

In [71]:
data.tail()
data.to_csv('updated_data.csv',sep=',',index=False)

In [69]:
keywords = ['q city','waverock','wipro','gachibowli','dlf']

(386, 13)